.header{
    background-color: rgb(228,228,230);
    
}
.header_area{
    padding: 20px;
    z-index:2;
    width: 100%;
    align-items: center;
}
.menu_area{
    margin-top: 20px;
}
.logo{
  margin-left: 20%;
}

.container-rodapé{
    background-color: rgb(228,228,230);
    text-align:center;

}

#cabeçalhoo{
  background-color: rgba(170, 167, 167, 0.349);
}

.corpo{
  background-color: rgb(218, 214, 214);;
}


.título{
float:right
}

#video{
  width: 50%;
  float:left;  
  
}

#descrição{
  width:100%;

  text-align:center;
}

.descrição{
  width:100%;

  text-align:left;
}

#título{
  float:center;
  text-align:left;
}

#botão{
  float:right; 
}

.ava{
  max-width: 150px;
}

.caro{
    padding-left: 100px;
    padding-right:100px;
    padding-bottom: 20px;
}
.novidades{
    padding-top: 20px;
}
.entrevista{
padding-top: 20px;
}